<h2>${page_title}</h2>

<form method="post" action="richiesta">
    <input type="hidden" name="userid" value="${Session.getAttribute('userid')}"/>
    <input type="hidden" name="tid" value="${tirocinio.idTirocinio}"/>
    <#if (messaggiocampi??)>
        <p>${messaggiocampi}</p>
    </#if>
    <div>
        <div>CFU</div>
        <div><input type="text" name="cfu" value="" class="required forbidden  w3-input w3-animate-input w3-pale-green"/></div>
    </div>
    
    <div>
        <div>Tutore</div>
        <div>
            <select name="tutore">
            <#list listaTutori as tutore>
                <option value="${tutore.idTutore}">${strip_slashes(tutore.nome)} ${strip_slashes(tutore.cognome)}</option>
            </#list>
            </select>
        </div>
    </div>

    <div>
        <input type="submit" name="add" value="Conferma" class="w3-button w3-theme button-margin"/>
    </div>
    
</form>
