<h2>${page_title}</h2>
<#if (Session??)>
    <#if Session.getAttribute('type')=="stud">
        <h3>I miei tirocini approvati</h3>
        <#if (lista_tirocini_approvati)??>
            <table class="w3-table-all">
                <tr>
                    <th>Titolo</th>
                    <th>Azienda</th>
                    <th>Numero di ore</th> 
                    <th>Numero di mesi</th>
                    <th>Luogo</th>
                    <th>Settore</th>
                </tr>
                <#list lista_tirocini_approvati as tirocinio>
                    <tr>
                        <td><a href="show?tid=${tirocinio.idTirocinio}">${strip_slashes(tirocinio.titolo)}</a></td> 
                        <td>${strip_slashes(tirocinio.azienda.nomeAzienda)}</td>
                        <td>${tirocinio.numOre}</td> 
                        <td>${tirocinio.mesi}</td>
                        <td>${strip_slashes(tirocinio.luogo)}</td>
                        <td>${strip_slashes(tirocinio.settore)}</td> 
                    </tr>
                </#list>
            </table>
        <#else>
            <div class="w3-container">
                <div class="w3-panel w3-pale-green w3-bottombar w3-border-green w3-border" style="width: 50%">
                    <p style="margin-top: 10px">Non sono ancora stati assegnati tirocini!</p>
                </div>
            </div>
        </#if>
        <br/>
        <h3>Le mie richieste</h3>
        <#if (lista_richieste)??>
            <table class="w3-table-all">
                <tr>
                    <th>CFU</th>
                    <th>Nome del tutore</th>
                    <th>Cognome del tutore</th> 
                    <th>Email del tutore</th>
                    <th>Stato richiesta</th>
                    <th>Vai ai dettagli</th>
                </tr>
                <#list lista_richieste as ric>
                    <tr>
                        <td>${ric.cfu}</td> 
                        <td>${strip_slashes(ric.nomeTutor)}</td>
                        <td>${strip_slashes(ric.cognomeTutor)}</td> 
                        <td>${strip_slashes(ric.emailTutor)}</td>
                        <#if (ric.status)=="pending">
                        <td>In attesa di approvazione</td>
                        </#if>
                         <#if (ric.status)=="rejected">
                        <td>Richiesta rifiutata </td>
                        </#if>
                        
                        <td><a href="show?tid=${ric.idTirocinio}">Dettagli tirocinio</a></td>
                    </tr>
                </#list>
            </table>
        <#else>
            <div class="w3-container">
                <div class="w3-panel w3-pale-green w3-bottombar w3-border-green w3-border" style="width: 50%">
                  <p style="margin-top: 10px">Non sono ancora state effettuate richieste di iscrizione a tirocini!</p>
                </div>
            </div>
        </#if>
    </#if>
</#if>
<br/>