<h2>${page_title}</h2>
<#if (Session??)>
    <#if Session.getAttribute('type')=="stud">
        <h3>I miei tirocini approvati</h3>
        <#if (lista_tirocini_approvati)??>
            <div class="w3-responsive">
                <table class="w3-table-all">
                    <tr class="w3-pale-blue">
                        <th><b>Titolo</b></th>
                        <th><b>Azienda</b></th>
                        <th><b>Numero di ore</b></th> 
                        <th><b>Numero di mesi</b></th>
                        <th><b>Luogo</b></th>
                        <th><b>Settore</b></th>
                    </tr>
                    <#list lista_tirocini_approvati as tirocinio>
                        <tr>
                            <td><a href="show?tid=${tirocinio.idTirocinio}">${strip_slashes(tirocinio.titolo)}</a></td> 
                            <td>${strip_slashes(tirocinio.azienda.nomeAzienda)}</td>
                            <td>${tirocinio.numOre}</td> 
                            <td>${tirocinio.mesi}</td>
                            <td>${strip_slashes(tirocinio.luogo)}</td>
                            <td>${strip_slashes(tirocinio.settore)}</td> 
                        </tr>
                    </#list>
                </table>
            </div>
        <#else>
            <div class="w3-container">
                <div class="w3-panel w3-pale-green w3-bottombar w3-border-green w3-border" style="width: 50%">
                    <p style="margin-top: 10px">Non sono ancora stati assegnati tirocini!</p>
                </div>
            </div>
        </#if>
        <h3>Le mie richieste</h3>
        <#if (lista_richieste)??>
            <div class="w3-responsive">
                <table class="w3-table-all">
                    <tr  class="w3-pale-blue">                    
                        <th><b>Titolo del tirocinio</b></th>
                        <th><b>Nome Azienda</b></th> 
                        <th><b>CFU</b></th>
                        <th><b>Email del tutore</b></th>
                        <th><b>Stato richiesta</b></th>
                        <th><b>Vai ai dettagli</b></th>
                    </tr>
                    <#list lista_richieste as ric>
                        <tr>
                            <#list titolitirocini as key,value>
                                <#if (ric.idRichiesta==key)>
                                    <td>  ${strip_slashes(value)}</td>
                                </#if>
                            </#list>
                            <#list nomiaziende as key,value>
                                <#if (ric.idRichiesta==key)>
                                    <td>${strip_slashes(value)}</td>
                                </#if>
                            </#list>
                            <td>${ric.cfu}</td>
                            <td>${strip_slashes(ric.emailTutor)}</td>
                            <#if (ric.status)=="pending">
                                <td>In attesa di approvazione</td>
                            <#elseif (ric.status)=="rejected">
                                <td>Richiesta rifiutata </td>
                            </#if>                        
                            <td><a href="show?tid=${ric.idTirocinio}">Dettagli tirocinio</a></td>
                        </tr>
                    </#list>
                </table>
            </div>
        <#else>
            <div class="w3-container">
                <div class="w3-panel w3-pale-green w3-bottombar w3-border-green w3-border profile">
                    <p class="button-margin"> Non sono ancora state effettuate richieste di iscrizione a tirocini!</p>
                </div>
            </div>
        </#if>
    </#if>
</#if>