<script>

    document.getElementById('main').style = "margin-left:210px"
    document.getElementById('content2').setAttribute("class", "w3-main w3-padding-64")
</script>



<div style="margin-right: 1%; margin-top:1%">       
    <table class="w3-table-all" >
        <tr>
            <th>Azienda</th>
            <th>Nome responsabile</th>
            <th>Cognome responsabile</th>
            <th>Telefono responsabile</th>
            <th>Email responsabile</th>
        </tr>            
        <#list aziende as azienda>
            <#if (azienda.status)>
                <tr>
                    <td> <a href="profile?uid=${azienda.idAzienda}&utype=comp">${strip_slashes(azienda.nomeAzienda)} </a></td>
                    <td>${strip_slashes(azienda.nomeResp)}</td>
                    <td>${strip_slashes(azienda.cognomeResp)} </td>  
                    <td>${strip_slashes(azienda.telefonoResp)}</td>
                    <td>${strip_slashes(azienda.emailResp)}</td>
                </tr>
            </#if>
        </#list>     
    </table>
</div>