<script>
    document.getElementById('content2').style.marginLeft = "11%"
    document.getElementById('content2').setAttribute("class", "w3-main w3-padding-64")
    //opera safari explorer edge
    document.getElementById('content2').style.paddingTop = "64px"
    document.getElementById('content2').style.paddingLeft = "64px"
</script>

<div id="search" style="margin-bottom: 1%;">
    <h2>Filtra per nome azienda</h2>
    <input class="w3-input w3-border w3-padding" type="text" placeholder="Cerca..." id="myInput" onkeyup="searchCompany()">
</div>
<script>
    document.getElementById('search').style.display = "block"
</script>
<noscript>
    <h2>Lista delle aziende convenzionate</h2>
</noscript>
<div class="w3-responsive">
    <table class="w3-table-all" id="azTable">
        <tr>
            <th>Azienda</th>
            <th>Nome responsabile</th>
            <th>Cognome responsabile</th>
            <th>Telefono responsabile</th>
            <th>Email responsabile</th>
        </tr>            
        <#list aziende as azienda>
        <#if (azienda.status)>
        <tr>
            <td> <a href="profile?uid=${azienda.idAzienda}&utype=comp">${strip_slashes(azienda.nomeAzienda)} </a></td>
            <td>${strip_slashes(azienda.nomeResp)}</td>
            <td>${strip_slashes(azienda.cognomeResp)} </td>  
            <td>${strip_slashes(azienda.telefonoResp)}</td>
            <td>${strip_slashes(azienda.emailResp)}</td>
        </tr>
        </#if>
        </#list>     
    </table>
</div>