<div>
    <form method="post" action="compilaresoconto">
        <input type="hidden" name="tid" value="${tid}" />
        <p>Utilizza questi campi per compilare il resoconto finale del tirocinio.</p>
        <p>Inserisci qui la descrizione dell'attivit&agrave; svolta:</p>
        <textarea name="descrizione" rows="10" cols="30" maxlength="100"></textarea>
        <p>Inserisci qui i risultati conseguiti del tirocinante:</p>
        <textarea name="risultato" rows="10" cols="30" maxlength="100"></textarea>        
        <p> <input  class="w3-btn w3-theme button-margin" type="submit" name="add" value="Conferma"/> </p>
    </form>
</div>
