
    <body>
        <h2>FAQ </h2>      
        
        <div>Questa pagina offre informazioni su come trovare tutte le informazioni sul sito </div>

            <div  class="w3-card-4" style="max-width: 50%; margin-top: 1%;">
                <header class="w3-container w3-pale-green w3-bottombar w3-border-green w3-border" >
                    <h5>Sono un nuovo utente, come faccio a registrarmi?</h5>
                </header>

            <div class="w3-container w3-pale-green w3-border-green w3-border" >
                 <p>Che tu sia un'azienda o uno studente, la registrazione &egrave; la stessa: compila i dati richiesti </p>
            </div>
        </div>
    
    
        <div  class="w3-card-4" style="max-width: 50%; margin-top: 1%;">
            <header class="w3-container w3-pale-green w3-bottombar w3-border-green w3-border" >
                <h5>Sono un'azienda registrata ma non riesco a proporre nuovi tirocini</h5>
            </header>

            <div class="w3-container w3-pale-green w3-border-green w3-border" >
                <p>Per proporre tirocini, devi essere abilitata dall'amministratore del sito. Puoi vedere i tuo status consutando il tuo profilo </p>
            </div>
        </div>
        
         <div  class="w3-card-4" style="max-width: 50%; margin-top: 1%;">
            <header class="w3-container w3-pale-green w3-bottombar w3-border-green w3-border" >
                <h5>Sono uno studente registrato, come faccio a candidarmi per un tirocinio?</h5>
            </header>

            <div class="w3-container w3-pale-green w3-border-green w3-border" >
                <p>Puoi cercare i tirocini a cui sei interessato dalla voce Ricerca tirocinio. Ti apparir&agrave; la lista
                    di tirocini disponibili al momento </p>
            </div>
        </div>  
        
        <div  class="w3-card-4" style="max-width: 50%; margin-top: 1%;">
            <header class="w3-container w3-pale-green w3-bottombar w3-border-green w3-border" >
                <h5>Info generiche</h5>
            </header>

            <div class="w3-container w3-pale-green w3-border-green w3-border" >
                <p>Ottieni tutte le informazioni  sulle aziende convenzionate dalla pagina lista aziende </p>
            </div>
            
            <div class="w3-container w3-pale-green w3-border-green w3-border">
                Come studente puoi valutare le azienda dalla pagina del tuo profilo. Facci sapere la tua opinione!
            </div>
        </div>        
      
        
       
        
        
 