<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Benvenuto nel portale per la gestione di tirocini universitari. Qui potrai accedere alla
        procedura telematica per iniziare un tirocinio (se sei uno studente) o proporlo (se sei un'azienda)
        Se non sei ancora registrato, fallo subito per accedere ai nostri servizi </div>
        <div> Elenco degli ultimi tirocini pubblicati:
        
        <#include "prova.ftl.html" >
        </div>
    </body>
</html>
