<div class="w3-panel w3-round-large w3-teal" style="margin-right: 10px">
    <p><h4>Benvenuto nel portale per la gestione di tirocini universitari! 
        <br>Qui potrai accedere alla
        procedura telematica per iniziare un tirocinio se sei uno studente, o proporlo se sei un'azienda!
        <br>Se non sei ancora registrato, fallo subito per accedere ai nostri servizi!</h4>
    </p>
</div>
<div class="w3-cell-row">
    <div class="w3-container w3-cell w3-mobile">
        <h2>News tirocini:</h2>
        <div class="w3-responsive">
            <table class="w3-table-all">
                <tr>
                    <th>Titolo tirocinio</th>
                    <th>Azienda referente</th>
                    <th>Descrizione attivit&agrave;</th>
                </tr>
                <#list tirocini as tirocinio>
                    <tr>
                        <td>${strip_slashes(tirocinio.luogo)}</td>
                        <td> ${strip_slashes(tirocinio.azienda.nomeAzienda)}</td>   
                        <td> ${strip_slashes(tirocinio.obiettivi)}</td>
                    </tr>
                </#list> 
            </table>
        </div>
    </div>
    <div id="log" class="w3-container w3-cell w3-mobile">
        <button id="button1" class="w3-button w3-block w3-cyan w3-round" style="width:50%; float:left; display:none;" onclick="show('log_stud')">Login Studente</button>
        <button id="button2" class="w3-button w3-block w3-blue w3-round" style="width:50%; float:right; display:none;" onclick="show('log_az')">Login Azienda</button>
        <!--<script type="text/javascript" src="script/showButton.js"></script>-->
        <noscript>
            <h2>Effettua il login!</h2>
        </noscript>
        <div id="log_stud" class='w3-blue w3-round' style="display: block;">
            <form class="w3-container w3-card-4" method="post" action="login">
                <input type="hidden" name="tid" value="" />
                <p>
                    <input class="w3-input w3-animate-input w3-blue" type="text" name="username" value="" style="width:60%" required/>
                    <label>Name</label>
                </p>
                <p>
                    <input class="w3-input w3-animate-input w3-blue" type="password" name="password" value="" style="width:60%" required/>
                    <label>Password</label></p>
                </p>
                <p>
                    <input class="w3-button w3-section w3-teal w3-ripple" type="submit" name="loginuser" value="Login"/>
                </p>
                <p>
                    <label id='labelLogin' style="display:none"> Non sei ancora registrato? </label>
                    <a id="ulogin" href="user" style="display:none">Registrati!</a>
                    <script type="text/javascript" src="script/showButton.js"></script>
                    <noscript>
                        Non sei ancora registrato? <br>
                        Se sei un'azienda registrati <a href="azienda">cliccando qui!</a> <br>
                        Se sei uno studente registrati <a href="user">cliccando qui!</a> 
                    </noscript>
                </p>
            </form>
        </div>
        <div id="log_az" class='w3-cyan w3-round' style="display: none">
            <form class="w3-container w3-card-4" method="post" action="login">
                <input type="hidden" name="tid" value="" />
                <p>
                    <input class="w3-input w3-animate-input w3-cyan" type="text" name="username" value="" style="width:60%" required/>
                    <label>Name</label>
                </p>
                <p>
                    <input class="w3-input w3-animate-input w3-cyan" type="password" name="password" value="" style="width:60%" required/>
                    <label>Password</label></p>
                <p>
                <p>
                    <input class="w3-button w3-section w3-teal w3-ripple" type="submit" name="logincomp" value="Login"/>
                </p>
                <p>
                    Non sei ancora registrato? <br><a href="azienda">Registrati!</a>
                </p>
            </form>
        </div>
    </div>
    
</div>
