<script>
    document.getElementById('content2').style.marginLeft = "11%"
    document.getElementById('content2').setAttribute("class", "w3-main w3-padding-64")
    //opera safari explorer edge
    document.getElementById('content2').style.padding = "64px"
</script>
<div class="w3-row">
    <div class="w3-container w3-cell w3-mobile w3-half">
        <form class="w3-container w3-card-4 w3-round" method="post" action="login">
            <h3>Sei uno studente?</h3>
            <#if (tid??)>
                <#if (tid="")>
                    <input type="hidden" name="tid" value="" />
                <#else>
                    <input type="hidden" name="tid" value="${tid}" />
                </#if>
            <#else>
                <input type="hidden" name="tid" value="" />
            </#if>
            <p>
                <input class="w3-input w3-animate-input" type="text" name="username" value="" style="width:90%" required/>
                <label>Name</label>
            </p>
            <p>
                <input class="w3-input w3-animate-input" type="password" name="password" value="" style="width:90%" required/>
                <label>Password</label>
            </p>
            <#if (usererror??)>
                <p class="w3-panel w3-pale-red w3-border-red">${usererror}</p>
            </#if>
            <p>
                <input class="w3-button w3-section w3-teal w3-ripple" type="submit" name="loginuser" value="Login"/>
            </p>
            <p>
                Non sei ancora registrato? <a href="user">Registrati!</a>
            </p>
        </form>
    </div>
    <div class="w3-container w3-cell w3-mobile w3-half">
        <form class="w3-container w3-card-4 w3-round" method="post" action="login">
            <h3>Sei un'azienda?</h3>
            <p>
                <input class="w3-input w3-animate-input" type="text" name="username" value="" style="width:90%" required/>
                <label>Name</label>
            </p>
            <p>
                <input class="w3-input w3-animate-input" type="password" name="password" value="" style="width:90%" required/>
                <label>Password</label>
            </p>
            <#if (companyerror??)>
                <p class="w3-panel w3-pale-red w3-border-red">${companyerror}</p>
            </#if>
            <p>
                <input class="w3-button w3-section w3-teal w3-ripple" type="submit" name="logincomp" value="Login"/>
            </p>
            <p>
                Non sei ancora registrato? <a href="azienda">Registrati!</a>
            </p>
        </form>
    </div>    
</div>