<div class="w3-row">
    <div class="w3-container w3-cell w3-mobile w3-half">
        <form class="w3-container w3-card-4 w3-round" method="post" action="login">
            <h3>Sei uno studente?</h3>
            <p>
                <input class="w3-input w3-animate-input" type="text" name="username" value="" style="width:90%" required/>
                <label>Name</label>
            </p>
            <p>
                <input class="w3-input w3-animate-input" type="password" name="password" value="" style="width:90%" required/>
                <label>Password</label>
            </p>
            <p>
                <input class="w3-button w3-section w3-teal w3-ripple" type="submit" name="login" value="Login"/>
            </p>
            <p>
                Non sei ancora registrato? <a href="azienda">Registrati!</a>
            </p>
        </form>
    </div>
    <div class="w3-container w3-cell w3-mobile w3-half">
        <form class="w3-container w3-card-4 w3-round" method="post" action="login">
            <h3>Sei un'azienda?</h3>
            <p>
                <input class="w3-input w3-animate-input" type="text" name="username" value="" style="width:90%" required/>
                <label>Name</label>
            </p>
            <p>
                <input class="w3-input w3-animate-input" type="password" name="password" value="" style="width:90%" required/>
                <label>Password</label>
            </p>
            <p>
                <input class="w3-button w3-section w3-teal w3-ripple" type="submit" name="login" value="Login"/>
            </p>
            <p>
                Non sei ancora registrato? <a href="azienda">Registrati!</a>
            </p>
        </form>
    </div>    
</div>


<!--
<form method="post" action="login">
    <#if tid="">
        <input type="hidden" name="tid" value="" />
    <#else>
        <input type="hidden" name="tid" value="${tid}" />
    </#if>
    <div>
        <div>Username</div>
        <div><input type="text" name="username" value=""/></div>
    </div>
    
    <div>
        <div>Password</div>
        <div><input type="password" name="password" value=""/></div>
    </div>
    
    <div>
        <input type="submit" name="login" value="Login"/>
    </div>
</form>
-->