<h2>${page_title}</h2>
<br/>
<#if (Session??)>
    <#if Session.getAttribute('type')=="comp">
        <#if (lista_richieste)??>
            <table class="w3-table-all">
                <tr class="w3-pale-blue">
                    <th><b>CFU</b></th>
                    <th><b>Nome del tutore</b></th>
                    <th><b>Cognome del tutore</b></th> 
                    <th><b>Email del tutore</b></th>
                    <th><b>Stato richiesta</b></th>                   
                    <th colspan="2"><b> Operazioni </b></th>                
                </tr>
                <#list lista_richieste as ric>
                    <tr>
                        <td>${strip_slashes(ric.cfu)}</td> 
                        <td>${strip_slashes(ric.nomeTutor)}</td>
                        <td>${strip_slashes(ric.cognomeTutor)}</td> 
                        <td>${strip_slashes(ric.emailTutor)}</td>
                        <#if ric.status=="pending">
                            <td>In attesa di approvazione</td>
                        </#if>
                        <#if ric.status=="accepted" || ric.status=="rejected">
                            <td>Non &egrave; pi&ugrave; possibile modificare la richiesta</td>
                            <td colspan="2"> Nessuna </td>
                        <#else>
                            <td>
                                <a class="w3-tooltip" href="setric?rid=${ric.idRichiesta}&val=1">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span  class="w3-text w3-tag tooltip-position">Accetta candidatura</span>
                                </a>
                            </td>
                            <td>
                                <a class="w3-tooltip" href="setric?rid=${ric.idRichiesta}&val=0">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <span  class="w3-text w3-tag tooltip-position">Rifiuta candidatura</span>
                                </a>
                            </td>
                        </#if>
                    </tr>
                </#list>
            </table>
        <#else>
            <p>Non sono ancora state proposte delle richieste per il tirocinio!</p>
        </#if> <!-- null-->
    </#if> <!-- comp -->
</#if> <!-- sessione -->

