<h2>${page_title}</h2>

<form method="post" action="modify">
    <div>
        <div>Nome</div>
        <div><input type="text" name="nome" value="${strip_slashes(azienda.nomeAzienda)}"  class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Ragione sociale</div>
        <div><input type="text" name="ragionesociale" value="${strip_slashes(azienda.ragioneSociale)}" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Indirizzo</div>
        <div><input type="text" name="indirizzo" value="${strip_slashes(azienda.indirizzo)}" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Partita Iva</div>
        <div><input type="text" name="partitaiva" value="${strip_slashes(azienda.partitaIva)}" class="required forbidden number"/></div>
    </div>
    
    <div>
        <div>Codice fiscale</div>
        <div><input type="text" name="codicefisc" value="${strip_slashes(azienda.codiceFisc)}" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Nome Rappresentante</div>
        <div><input type="text" name="nomerappr" value="${strip_slashes(azienda.nomeRappr)}" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Cognome Rappresentante</div>
        <div><input type="text" name="cognomerappr" value="${strip_slashes(azienda.cognomeRappr)}" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Nome Responsabile</div>
        <div><input type="text" name="nomeresp" value="${strip_slashes(azienda.nomeResp)}" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Cognome Responsabile</div>
        <div><input type="text" name="cognomeresp" value="${strip_slashes(azienda.cognomeResp)}" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Telefono Responsabile</div>
        <div><input type="text" name="telefonoresp" value="${strip_slashes(azienda.telefonoResp)}" class="required forbidden number"/></div>
    </div>
    
    <div>
        <div>Email Responsabile</div>
        <div><input type="text" name="emailresp" value="${strip_slashes(azienda.emailResp)}" class="required email"/></div>
    </div>
    
    <div>
        <div>Foro</div>
        <div><input type="text" name="foro" value="${strip_slashes(azienda.foro)}" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Username</div>
        <div><input type="text" name="username" value="${strip_slashes(azienda.username)}" class="required forbidden"/></div>
    </div>
    <#if (usernamemessage??)>
        <p>${usernamemessage}</p>
    </#if>
    
    <div>
        <div>Password</div>
        <div><input type="password" name="password" value="" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Ripeti Password</div>
        <div><input type="password" name="rpassword" value="" class="required forbidden"/></div>
    </div>
    
    <#if (passwordmessage??)>
        <p>${passwordmessage}</p>
    </#if>
    
    <div>
        <input type="submit" name="update" value="Update"/>
    </div>
    
</form>

