<div class="w3-card-4" style="margin-right: 1%">
    <div class="w3-container w3-theme">
        <h2>${page_title}</h2>
    </div>
    <form class="w3-container" id="form" method="post" action="modify">
        <#if (messaggiocampi??)>
            <p class="w3-panel w3-pale-red w3-border-red">${messaggiocampi}</p>
        </#if>
        <p>
            <label><b>Nome</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green w3-opacity" style="width:30%; max-width:50%" type="text" name="nome" value="${strip_slashes(utente.nome)}" disabled/>
        </p>
        <p>
            <label><b>Cognome</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green w3-opacity" style="width:30%; max-width:50%" type="text" name="cognome" value="${strip_slashes(utente.cognome)}" disabled/>
        </p>
        <p>
            <label><b>Data di nascita</b></label>
            <input class="number required w3-input w3-pale-green  w3-opacity" style="width:30%; max-width:50%" type="date" name="datanasc" value="${strip_slashes(utente.dataNasc)}" disabled/>
        </p>
    
        <p>
            <label><b>Luogo di nascita</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green w3-opacity" style="width:30%; max-width:50%" type="text" name="luogonasc" value="${strip_slashes(utente.luogoNasc)}" disabled/>
        </p>
        
        <p>
            <label><b>Codice fiscale</b></label>
            <input class="code required w3-input w3-animate-input w3-pale-green w3-opacity" style="width:30%; max-width:50%" type="text" name="codfisc" value="${strip_slashes(utente.codFisc)}" disabled/>
        </p>
        
        <p>
            <label><b>Sesso</b></label>
            <br>
            <select class="w3-select w3-pale-green w3-opacity" style="max-width:30%" name="sesso" disabled>
                
                <option value="maschio">
                <#if (utente.sesso?? && utente.sesso="maschio")>
                    <!--selected="selected"-->
                </#if>
                Uomo</option>
                <option value="donna">
                <#if (utente.sesso?? && utente.sesso="donna")>
                    <!--selected="selected"-->
                </#if>
                Donna</option>
            </select> 
        </p>
        
        <p>
            <label><b>Residenza</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="residenza" value="${strip_slashes(utente.residenza)}"/>
        </p>
        <#if (messaggioresidenza??)>
            <p class="w3-panel w3-pale-red w3-border-red">${messaggioresidenza}</p>
        </#if>
        <p>
            <label><b>Telefono</b></label>
            <input class="number w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="telefono" value="${strip_slashes(utente.telefono)}"/>
        </p>
        <#if (messaggiotelefono??)>
            <p class="w3-panel w3-pale-red w3-border-red">${messaggiotelefono}</p>
        </#if>
        <p>
            <label><b>Handicap</b></label>
            <br>
            <select class="w3-select w3-pale-green" style="max-width:30%" name="handicap">
                <option value="false">
                <#if (utente.handicap?? && utente.handicap=false)>
                    <!--selected="selected"-->
                </#if>        
                No</option>
                <option value="true">
                <#if (utente.handicap?? && utente.handicap=true)>
                    <!--selected="selected"-->
                </#if>
                Si</option>
            </select> 
        </p>
        
        <p>
            <label><b>Email</b></label>
            <input class="email required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="email" value="${strip_slashes(utente.emailUtente)}"/>
        </p>
        <#if (messaggioemail??)>
            <p class="w3-panel w3-pale-red w3-border-red">${messaggioemail}</p>
        </#if>
        <p>
            <label><b>Corso di laurea</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="cdl" value="${strip_slashes(utente.cdl)}"/>
        </p>
        <#if (messaggiocdl??)>
            <p class="w3-panel w3-pale-red w3-border-red">${messaggiocdl}</p>
        </#if>
        <p>
            <label><b>Laurea</b></label>
            <br>
            <select class="w3-select w3-pale-green" style="max-width:30%" name="laurea">
                <option value="triennale">
                <#if (utente.laurea?? && utente.laurea="triennale")>
                    <!--selected="selected"-->
                </#if>        
                Triennale</option>
                <option value="magistrale">
                <#if (utente.laurea?? && utente.laurea="magistrale")>
                    <!--selected="selected"-->
                </#if>        
                Magistrale</option>
            </select> 
        </p>
        
        <p>
            <label><b>Dottorato</b></label>
            <input class="w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="dottorato" value="${strip_slashes(utente.dottorato)}"/>
        </p>
        <#if (messaggiodottorato??)>
            <p class="w3-panel w3-pale-red w3-border-red">${messaggiodottorato}</p>
        </#if>
        <p>
            <label><b>Specializzazione</b></label>
            <input class="w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="specializzazione" value="${strip_slashes(utente.specializzazione)}"/>
        </p>
        <#if (messaggiospecializzazione??)>
            <p class="w3-panel w3-pale-red w3-border-red">${messaggiospecializzazione}</p>
        </#if>
        <p>
            <label><b>Username</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="username" value="${strip_slashes(utente.username)}"/>
        </p>
        <#if (messaggiousername??)>
            <p class="w3-panel w3-pale-red w3-border-red">${messaggiousername}</p>
        </#if>
        <#if (usernamemessage??)>
            <p class="w3-panel w3-pale-red w3-border-red">${usernamemessage}</p>
        </#if>
        <p>
            <label><b>Password</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="password" name="password" value=""/>
        </p>
        
        <p>
            <label><b>Ripeti password</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="password" name="rpassword" value=""/>
        </p>
        
        <#if (passwordmessage??)>
            <p class="w3-panel w3-pale-red w3-border-red">${passwordmessage}</p>
        </#if>
        
        <input class="w3-btn w3-theme button-margin" type="submit" name="update" value="Conferma modifiche">
    </form>
</div>  