<h2>${page_title}</h2>

<form method="post" action="modify">
    <div>
        <div>Nome</div>
        <div><input type="text" name="nome" value=""  class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Ragione sociale</div>
        <div><input type="text" name="ragionesociale" value="" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Indirizzo</div>
        <div><input type="text" name="indirizzo" value="" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Partita Iva</div>
        <div><input type="text" name="partitaiva" value="" class="required forbidden number"/></div>
    </div>
    
    <div>
        <div>Codice fiscale</div>
        <div><input type="text" name="codicefisc" value="" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Nome Rappresentante</div>
        <div><input type="text" name="nomerappr" value="" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Cognome Rappresentante</div>
        <div><input type="text" name="cognomerappr" value="" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Nome Responsabile</div>
        <div><input type="text" name="nomeresp" value="" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Cognome Responsabile</div>
        <div><input type="text" name="cognomeresp" value="" class="required forbidden"/></div>
    </div>
    
    <div>
        <div>Telefono Responsabile</div>
        <div><input type="text" name="telefonoresp" value="" class="required forbidden number"/></div>
    </div>
    
    <div>
        <div>Email Responsabile</div>
        <div><input type="text" name="emailresp" value="" class="required email"/></div>
    </div>
    
    <div>
        <div>Foro</div>
        <div><input type="text" name="foro" value="" class="required forbidden"/></div>
    </div>
    
    <div>
        <input type="submit" name="update" value="Update"/>
    </div>
    
</form>

