<div class="w3-card-4">
    <div class="w3-container w3-teal">
        <h2>${page_title}</h2>
    </div>
    <form class="w3-container" method="post" action="modify">
        <#if (messaggiocampi??)>
            <p>${messaggiocampi}</p>
        </#if>
        <br>
        <p>
            <label><b>Nome</b></label>
            <input type="text" name="nome" value="${strip_slashes(azienda.nomeAzienda)}" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (messaggionome??)>
            <p>${messaggionome}</p>
        </#if>
        <p>
            <label><b>Ragione sociale</b></label>
            <input type="text" name="ragionesociale" value="${strip_slashes(azienda.ragioneSociale)}" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (messaggioragionesociale??)>
            <p>${messaggioragionesociale}</p>
        </#if>
        <p>
            <label><b>Indirizzo</b></label>
            <input type="text" name="indirizzo" value="${strip_slashes(azienda.indirizzo)}" style="width:30%; max-width:50%" class="required  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (messaggioindirizzo??)>
            <p>${messaggioindirizzo}</p>
        </#if>
        <p>
            <label><b>Partita Iva</b></label>
            <input type="text" name="partitaiva" value="${strip_slashes(azienda.partitaIva)}" style="width:30%; max-width:50%" class="required forbidden number  w3-input w3-animate-input w3-pale-green" disabled="disabled"/>
        </p>
        <p>
            <label><b>Codice fiscale</b></label>
            <input type="text" name="codicefisc" value="${strip_slashes(azienda.codiceFisc)}" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green" disabled="disabled"/>
        </p>
        <p>
            <label><b>Nome Rappresentante</b></label>
            <input type="text" name="nomerappr" value="${strip_slashes(azienda.nomeRappr)}" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (messaggionomerappr??)>
            <p>${messaggionomerappr}</p>
        </#if>
        <p>
            <label><b>Cognome Rappresentante</b></label>
            <input type="text" name="cognomerappr" value="${strip_slashes(azienda.cognomeRappr)}" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (messaggiocognomerappr??)>
            <p>${messaggiocognomerappr}</p>
        </#if>
        <p>
            <label><b>Nome Responsabile</b></label>
            <input type="text" name="nomeresp" value="${strip_slashes(azienda.nomeResp)}" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (messaggionomeresp??)>
            <p>${messaggionomeresp}</p>
        </#if>
        <p>
            <label><b>Cognome Responsabile</b></label>
            <input type="text" name="cognomeresp" value="${strip_slashes(azienda.cognomeResp)}" style="width:30%; max-width:50%"  class="required forbidden  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (messaggiocognomeresp??)>
            <p>${messaggiocognomeresp}</p>
        </#if>
        <p>
            <label><b>Telefono Responsabile</b></label>
            <input type="text" name="telefonoresp" value="${strip_slashes(azienda.telefonoResp)}" style="width:30%; max-width:50%" class="required forbidden number  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (messaggiotelefonoresp??)>
            <p>${messaggiotelefonoresp}</p>
        </#if>
        <p>
            <label><b>Email Responsabile</b></label>
            <input type="text" name="emailresp" value="${strip_slashes(azienda.emailResp)}" style="width:30%; max-width:50%" class="required email  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (messaggioemailresp??)>
            <p>${messaggioemailresp}</p>
        </#if>
        <p>
            <label><b>Foro</b></label>
            <input type="text" name="foro" value="${strip_slashes(azienda.foro)}" style="width:30%; max-width:50%" class="required  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (messaggioforo??)>
            <p>${messaggioforo}</p>
        </#if>
        <p>
            <label><b>Username</b></label>
            <input type="text" name="username" value="${strip_slashes(azienda.username)}" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (usernamemessage??)>
            <p>${usernamemessage}</p>
        </#if>
        <p>
            <label><b>Password</b></label>
            <input type="password" name="password" value=""  style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <p>
            <label><b>Ripeti Password</b></label>
            <input type="password" name="rpassword" value="" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green"/>
        </p>
        <#if (passwordmessage??)>
            <p>${passwordmessage}</p>
        </#if>
        <p>
            <input class="w3-button w3-theme button-margin" type="submit" name="update" value="Conferma modifche" />
        </p>
    </form>
</div>