<div class="w3-card-4">
    <div class="w3-container w3-theme">
        <h2>${page_title}</h2>
    </div>
    <form method="post" action="tirocinio">
        <input type="hidden" name="userid" value="${Session.getAttribute('userid')}"/>
        <#if (messaggiocampi??)>
            <p class="w3-panel w3-pale-red w3-border-red profile">${messaggiocampi}</p>
        </#if>
        <p>
            <label><b>Titolo</b></label>
            <input type="text" name="titolo" class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" value=
            <#if (dati??)>
                "${dati.titolo}"
            <#else>
                ""
            </#if> />
        </p>
        <#if (messaggiotitolo??)>
            <p class="w3-panel w3-pale-red w3-border-red profile" >${messaggiotitolo}</p>
        </#if>
        <p>
            <label><b>Luogo</b></label>
            <input type="text" name="luogo" style="width:30%; max-width:50%" class="required w3-input w3-animate-input w3-pale-green" value=
            <#if (dati??)>
                "${dati.luogo}"
            <#else>
                ""
            </#if> />
        </p>
        <#if (messaggioluogo??)>
            <p class="w3-panel w3-pale-red w3-border-red profile">${messaggioluogo}</p>
        </#if>
        <p>
            <label><b>Orario</b></label>
            <input type="text" name="orario" style="width:30%; max-width:50%" class="required   w3-input w3-animate-input w3-pale-green" value=
            <#if (dati??)>
                "${dati.orario}"
            <#else>
                ""
            </#if> />
        </p>
        <#if (messaggioorario??)>
            <p class="w3-panel w3-pale-red w3-border-red profile">${messaggioorario}</p>
        </#if>
        <p>
            <label><b>Numero di ore</b></label>
            <input type="text" name="numore" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green" value=
            <#if (dati??)>
                "${dati.numore}"
            <#else>
                ""
            </#if> />
        </p>
        <#if (messaggionumore??)>
            <p class="w3-panel w3-pale-red w3-border-red profile">${messaggionumore}</p>
        </#if>
        <p>
            <label><b>Numero di mesi</b></label>
            <input type="text" name="nummesi" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green" value=
            <#if (dati??)>
                "${dati.nummesi}"
            <#else>
                ""
            </#if> />
        </p>
        <#if (messaggionummesi??)>
            <p class="w3-panel w3-pale-red w3-border-red profile">${messaggionummesi}</p>
        </#if>
        <p>
            <label><b>Obiettivi</b></label>
            <input type="text" name="obiettivi" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green" value=
            <#if (dati??)>
                "${dati.obiettivi}"
            <#else>
                ""
            </#if> />
        </p>
        <#if (messaggioobiettivi??)>
            <p class="w3-panel w3-pale-red w3-border-red profile">${messaggioobiettivi}</p>
        </#if>
        <p>
            <label><b>Modalit&agrave;</b></label>
            <input type="text" name="modalita" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green" value=
            <#if (dati??)>
                "${dati.modalita}"
            <#else>
                ""
            </#if> />
        </p>
        <#if (messaggiomodalita??)>
            <p class="w3-panel w3-pale-red w3-border-red profile">${messaggiomodalita}</p>
        </#if>
        <p>
            <label><b>Facilitazioni</b></label>
            <input type="text" name="facilitazioni" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green" value=
            <#if (dati??)>
                "${dati.facilitazioni}"
            <#else>
                ""
            </#if> />
        </p>
        <#if (messaggiofacilitazioni??)>
            <p class="w3-panel w3-pale-red w3-border-red profile">${messaggiofacilitazioni}</p>
        </#if>
        <p>
            <label><b>Settore</b></label>
            <input type="text" name="settore" style="width:30%; max-width:50%" class="required forbidden  w3-input w3-animate-input w3-pale-green" value=
            <#if (dati??)>
                "${dati.settore}"
            <#else>
                ""
            </#if> />
        </p>
        <#if (messaggiosettore??)>
            <p class="w3-panel w3-pale-red w3-border-red profile">${messaggiosettore}</p>
        </#if>
        <#if (listaTutori??)>
            <p>
                <label><b>Tutore</b></label>
                <br/>
                <select class="w3-select w3-pale-green" style="max-width:30%" name="tutore">
                    <#list listaTutori as tutore>
                      <option value="${tutore.idTutore}">${strip_slashes(tutore.nome)} ${strip_slashes(tutore.cognome)}</option>
                    </#list>
                </select> 
            </p>
        <#else>
            <p>
                <label><b>Tutore</b></label>
                <br/>
                <select class="w3-select w3-pale-green" style="max-width:30%" name="tutore">
                    <option value="errore" selected="selected">Nessun Tutore Disponibile</option>
                </select>
            </p>
        </#if>
        <#if (messaggiotutore??)>
            <p class="w3-panel w3-pale-red w3-border-red profile">${messaggiotutore}</p>
        </#if>
        <p>
            <input type="submit" name="add" value="Aggiungi tirocinio"  class="w3-button w3-theme button-margin" />
        </p>
    </form>
</div>