<div class="w3-card-4">
    <div class="w3-container w3-theme">
        <h2>${page_title}</h2>
    </div>
    <form method="post" action="tutore">
        <input type="hidden" name="userid" value="${Session.getAttribute('userid')}"/>
        <#if (messaggiocampi??)>
            <p>${messaggiocampi}</p>
        </#if>
        <p>
            <label><b>Nome</b></label>
            <input type="text" name="nome" value="" class="required forbidden  w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%;"/>
        </p>
        <#if (messaggionome??)>
            <p>${messaggionome}</p>
        </#if>
        <p>
            <label><b>Cognome</b></label>
            <input type="text" name="cognome" value=""  class="required forbidden  w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%;" />
        </p>
        <#if (messaggiocognome??)>
            <p>${messaggiocognome}</p>
        </#if>
        <p>
            <label><b>Data di nascita</b></label>
            <input type="date" name="datanasc" value="" style="width:30%; max-width:50%;" class="required  w3-input w3-animate-input w3-pale-green" />
        </p>
        <p>
            <label><b>Telefono</b></label>
            <input type="text" name="telefono" value="" style="width:30%; max-width:50%;" class="required number  w3-input w3-animate-input w3-pale-green" />
        </p>
        <#if (messaggiotelefono??)>
            <p>${messaggiotelefono}</p>
        </#if>
        <p>
            <label><b>Email</b></label>
            <input type="text" name="email" value="" style="width:30%; max-width:50%;" class="required email  w3-input w3-animate-input w3-pale-green" />
        </p>
        <#if (messaggioemail??)>
            <p>${messaggioemail}</p>
        </#if>
        <p>
            <input type="submit" name="add" value="Aggiungi tutore" class="w3-button w3-theme button-margin"  />
        </p>
    </form>
</div>