<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div>
            <#if (Session??)>
                <#if Session.getAttribute('type')=="stud">
                    <p>Studente</p>
                <#else>
                    <p>Azienda</p>
                </#if>
            <#else>
                <p>Anonimo</p>
            </#if>
        </div>
        <div>       
            <#include content_tpl>
        </div>
        <br/>
        <div><a href="azienda">Registra la tua azienda!</a></div>
        <div><a href="user">Registrati qui se sei uno studente!</a></div>
        <div><a href="login">Accedi ai nostri servizi!</a></div>
        <div><a href="logout">Logout</a></div>
        
       
    </body>
</html>
