<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Internship Helper</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style/responsive_header.css"/>
        <link rel="stylesheet" type="text/css" href="style/responsive_menu.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script type="text/javascript" src="script/test.js"></script>
        <script type="text/javascript" src="script/prova.js"></script>    
        
        
    </head>
    <body>
        <div class="header">
            <img src="images/logo.png" style="width: 210px; height: 62px;">
            <div class="header-right">
                <a class="active" href="home">Home</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                <#if (Session??)>
                    <a href="logout">Logout</a>
                </#if>
            </div>
        </div>

        <ul class="sidenav">
            <#if (Session??)>
                <#if Session.getAttribute('type')=="stud">
                    <li><a href="profile?uid=${Session.getAttribute('userid')}&utype=${Session.getAttribute('type')}">Il tuo profilo</a></li>
                    <li><a href="search">Ricerca Tirocinio</a></li>
                    <li><a href="listaaziende">Lista Aziende</a></li>
                    <li><a href="applications">Riepilogo Candidature</a></li>
                    <li><a href="faq">FAQ</a></li>
                <#elseif Session.getAttribute('type')=="comp">
                    <li><a href="profile?uid=${Session.getAttribute('userid')}&utype=${Session.getAttribute('type')}">Il tuo profilo</a></li>
                    <li><a href="panel">Gestione Tirocini</a></li>
                    <li><a href="faq">FAQ</a></li>
                <#else>
                    <li><a href="managecompany">Gestione delle aziende</a></li>
                    <li><a href="stats">Statistiche</a></li>
                    <li><a href="faq">FAQ</a></li>
                </#if>
            <#else>
                <li><a href="search">Ricerca Tirocinio</a></li>
                <li><a href="listaaziende">Lista Aziende</a></li>
                <li><a href="faq">FAQ</a></li>
            </#if>
        </ul>
        
        <div class="content">
            <#include content_tpl>
        </div>
        
    </body>
</html>
