<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Internship Helper</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style/responsive_header.css"/>
        <link rel="stylesheet" type="text/css" href="style/responsive_menu.css"/>
        <link rel="stylesheet" type="text/css" href="style/other.css"/>        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="script/test.js"></script>
        <script type="text/javascript" src="script/prova.js"></script> 
        <script>
            function showButtons() {
                var x = document.getElementById("button1");
                var y = document.getElementById("button2");
                var z = document.getElementById("ulogin");
                var w = document.getElementById("labelLogin");
                x.style.display = "block";
                y.style.display = "block";
                z.style.display = "block";
                w.style.display = "block";
            }
        </script>
        <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
            .w3-sidebar {
              z-index: 3;
              width: 200px;
              top: 53px;
              bottom: 0;
              height: inherit;
            }
        </style>
    </head>    
    <body onload="showButtons()">
        <!-- Navbar -->
        <noscript>
            <div id="navbar">
                <div class="w3-bar w3-theme w3-border w3-row w3-mobile">
                    <div class="w3-container w3-left w3-rest w3-mobile">
                        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
                        <a href="home" class="w3-bar-item w3-button w3-mobile">
                            <img src="images/logo.png" style="width: 100px; height: 36px;">
                        </a>
                    </div>
                    <div class="w3-col w3-container w3-right w3-mobile" style="width:475px">
                        <a href="home" class="w3-bar-item w3-button w3-xlarge w3-mobile">
                        <i class="fa fa-home"></i>Home</a>
                        <a href="contact" class="w3-bar-item w3-button w3-xlarge w3-mobile">Contact</a>
                        <a href="about" class="w3-bar-item w3-button w3-xlarge w3-mobile">About</a>
                        <#if (Session??)>
                            <a href="logout" class="w3-bar-item w3-button w3-xlarge w3-mobile">Logout</a>
                        <#else>
                            <a href="login" class="w3-bar-item w3-button w3-xlarge w3-mobile">Login</a>
                        </#if>
                    </div>
                </div>
            </div>
        </noscript>
        <#if (Session??)>
            <div id="navbar"></div>
            <script type="text/javascript" src="script/topnavlogout.js"></script>
        <#else>
            <div id="navbar"></div>
            <script type="text/javascript" src="script/topnavlogin.js"></script>
        </#if>
        
        <!-- Sidebar -->
        <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
                <i class="fa fa-remove"></i>
            </a>
            <h4 class="w3-bar-item"><b>Menu</b></h4>
            <#if (Session??)>
                <#if Session.getAttribute('type')=="stud">
                    <a class="w3-bar-item w3-button w3-hover-black" 
                       href="profile?uid=${Session.getAttribute('userid')}&utype=${Session.getAttribute('type')}">
                        Il tuo profilo
                    </a>
                    <a class="w3-bar-item w3-button w3-hover-black" 
                       href="search">
                        Ricerca Tirocinio
                    </a>
                    <a class="w3-bar-item w3-button w3-hover-black" 
                       href="listaaziende">
                        Lista Aziende</a>
                    <a class="w3-bar-item w3-button w3-hover-black" 
                       href="applications">
                        Riepilogo Candidature
                    </a>
                    <a class="w3-bar-item w3-button w3-hover-black" href="faq">FAQ</a>
                <#elseif Session.getAttribute('type')=="comp">
                    <a class="w3-bar-item w3-button w3-hover-black"
                       href="profile?uid=${Session.getAttribute('userid')}&utype=${Session.getAttribute('type')}">
                        Il tuo profilo
                    </a>
                    <a class="w3-bar-item w3-button w3-hover-black" href="panel">Gestione Tirocini</a>
                    <a class="w3-bar-item w3-button w3-hover-black" href="tirocinio">Inserisci Tirocinio</a>
                    <a class="w3-bar-item w3-button w3-hover-black" href="tutore">Aggiungi Tutore</a>
                    <a class="w3-bar-item w3-button w3-hover-black" href="faq">FAQ</a>
                <#else>
                    <a class="w3-bar-item w3-button w3-hover-black" href="managecompany">Gestione delle aziende</a>
                    <a class="w3-bar-item w3-button w3-hover-black" href="stats">Statistiche</a>
                    <a class="w3-bar-item w3-button w3-hover-black" href="faq">FAQ</a>
                </#if>
            <#else>
                <a class="w3-bar-item w3-button w3-hover-black" href="search">Ricerca Tirocinio</a>
                <a class="w3-bar-item w3-button w3-hover-black" href="listaaziende">Lista Aziende</a>
                <a class="w3-bar-item w3-button w3-hover-black" href="faq">FAQ</a>
            </#if>
        </nav>
        
        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
        
        <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
        <div class="w3-main" style="margin-left:210px">
            <div class="w3-rest w3-padding-64">
                <#include content_tpl>
            </div>
        </div>
        <script>
            // Get the Sidebar
            var mySidebar = document.getElementById("mySidebar");

            // Get the DIV with overlay effect
            var overlayBg = document.getElementById("myOverlay");

            // Toggle between showing and hiding the sidebar, and add overlay effect
            function w3_open() {
                if (mySidebar.style.display === 'block') {
                    mySidebar.style.display = 'none';
                    overlayBg.style.display = "none";
                } else {
                    mySidebar.style.display = 'block';
                    overlayBg.style.display = "block";
                }
            }

            // Close the sidebar with the close button
            function w3_close() {
                mySidebar.style.display = "none";
                overlayBg.style.display = "none";
            }
        </script>
    </body>
</html>
