<script>
    document.getElementById('content2').style.marginLeft = "11%"
    document.getElementById('content2').setAttribute("class", "w3-main w3-padding-64")
    //opera safari explorer edge
    document.getElementById('content2').style.paddingTop = "64px"
    document.getElementById('content2').style.paddingLeft = "64px"
</script>

<#if (utente??)>
    <div class="w3-card-4 profile">
        <#if (modifica)>
            <header class="w3-container w3-theme">
                <h3>Benvenuto ${strip_slashes(utente.nome)}: ecco i dati del tuo profilo </h3>
            </header>
        <#else>
            <header class="w3-container w3-theme">
                <h3>Dettagli candidato</h3>
            </header>
        </#if>
        <ul class="w3-ul">
            <li><b> Nome: </b>${utente.nome}</li>
            <li><b> Cognome: </b>${utente.cognome}</li>
            <li><b> Data di nascita: </b>${utente.dataNasc} </li>   
            <li><b> Sesso: </b>${strip_slashes(utente.sesso)} </li>
            <li><b> Residenza: </b>${strip_slashes(utente.residenza)} </li>
            <li><b> Ruolo: </b>Studente </li>
            <li><b> Telefono: </b>${strip_slashes(utente.telefono)}</li>
            <li><b> Email: </b>${strip_slashes(utente.emailUtente)}</li>
            <li><b> Corso di Laurea: </b> 
                <#if (utente.cdl=="")>
                    Nessuno
                <#else>
                    ${strip_slashes(utente.cdl)}
                </#if></li>
            <li><b>Specializzazione: </b> 
                <#if (utente.specializzazione=="")>
                    Nessuna
                <#else>
                    ${strip_slashes(utente.specializzazione)}
                </#if></li>
            <li><b> Laurea: </b>${strip_slashes(utente.laurea)}</li>
            <li><b> Dottorato: </b> 
                <#if (utente.dottorato=="")>
                    Nessuno
                <#else>
                    ${strip_slashes(utente.dottorato)}
                </#if></li>
        </ul>   
        <#if (modifica)>
            <p><a  class="w3-button w3-block w3-theme" href="modify?uid=${Session.getAttribute('userid')}&utype=${Session.getAttribute('type')}"> Modifica profilo </a></p>
        </#if>       
    </div>
</#if>

<#if (azienda??)>
    <div class="w3-card-4 profile">
        <header class="w3-container w3-theme">
            <h3>${strip_slashes(azienda.nomeAzienda)} </h3>
        </header>
        <ul class="w3-ul">
            <li>Ragione sociale: ${strip_slashes(azienda.ragioneSociale)}</li>
            <li>Indirizzo: ${strip_slashes(azienda.indirizzo)}</li>
            <li>Partita IVA: ${strip_slashes(azienda.partitaIva)}</li>
            <li>Nome Rappresentante: ${strip_slashes(azienda.nomeRappr)}</li>
            <li>Cognome Rappresentante: ${strip_slashes(azienda.cognomeRappr)}</li>
            <li> Valutazione media : ${strip_slashes(azienda.valutazione)}</li>
        </ul>
        <#if (modifica)>
            <p><a class="w3-button w3-block w3-theme" href="modify?uid=${Session.getAttribute('userid')}&utype=${Session.getAttribute('type')}"> Modifica profilo </a></p>
        </#if>
        <#if (Session??)>
            <#if Session.getAttribute('userid')==azienda.idAzienda>
                <!-- se azienda abilitata -->
                <#if (inserisci)>
                    <p><a class="w3-button w3-block w3-theme" href="tutore?uid=${Session.getAttribute('userid')}"> Aggiungi nuovo tutore </a></p>
                    <p><a class="w3-button w3-block w3-theme" href="tirocinio?uid=${Session.getAttribute('userid')}"> Aggiungi nuovo tirocinio </a></p>
                <#else>
                    <p class="w3-panel w3-pale-yellow w3-border w3-border-yellow"> Attenzione:  non sei ancora abilitata per proporre nuovi tirocini</p>
                </#if>            
                <#if (convenzione)>
                    <p><a  class="w3-button w3-block w3-theme" href="showconvenzione?uid=${Session.getAttribute('userid')}"> Scarica Convenzione </a></p>
                </#if>
                <#if (scarica)>
                    <p><a  class="w3-button w3-block w3-theme" href="downloadconvenzione?cid=${azienda.idConvenzione}"> Scarica Convenzione Firmata</a></p>
                </#if>
            </#if>
        </#if> 
    </div>
</#if>