<h2>${page_title}</h2>

<form  id="form" method="post" action="user">
    <div>
        <div>Nome</div>
        <input  type="text" name="nome" value=" " class="required forbidden"/>
    </div>
    
    <div>
        <div>Cognome</div>
        <div><input type="text" name="cognome" value="" class="required"/></div>
    </div>
    
    <div>
        <div>Username</div>
        <div><input type="text" name="username" value="" class="required"></div>
    </div>
    
    <div>
        <div>Password</div>
        <div><input type="password" name="password" value="" class="required"/></div>
    </div>
    
    <div>
        <div> Ripeti Password</div>
        <div><input type="password" name="rpassword" value="" class="required"/></div>
    </div>
    
    <div>
        <div>Data di nascita</div>
        <div><input type="date" name="datanasc" value="" class=" number required"/></div>
    </div>
    
    <div>
        <div>Luogo di nascita</div>
        <div><input type="text" name="luogonasc" value="" class="required"/></div>
    </div>
    
    <div>
        <div>Residenza</div>
        <div><input type="text" name="residenza" value="" class="required"/></div>
    </div>
    
    <div>
        <div>Codice fiscale</div>
        <div><input type="text" name="codfisc" value=""  class="required"/></div>
    </div>
    
    <div>
        <div>Telefono</div>
        <div><input type="text" name="telefono" value="" class="number"/></div>
    </div>
    
    <div>
        <div>Corso di laurea</div>
        <div><input type="text" name="cdl" value="" class="required"/></div>
    </div>
    
    <div>
        <div>Handicap</div>
        <div>
            <select name="handicap">
                <option value="false" selected="selected">No</option>
                <option value="true">Si</option>
            </select>
        </div>
    </div>
    
     <div>Sesso</div>
        <div>
            <select name="sesso">
                <option value="maschio" selected="selected">Uomo</option>
                <option value="donna">Donna</option>
            </select>
        </div>
    
    
    <div>
        <div>Laurea</div>
        <div>
            <select name="laurea">
                <option value="triennale" selected="selected">Triennale</option>
                <option value="magistrale">Magistrale</option>
            </select>
        </div>
    </div>
    
    
    <div>
        <div>Dottorato</div>
        <div><input type="text" name="dottorato" value=""/></div>
    </div>
    
    <div>
        <div>Specializzazione</div>
        <div><input type="text" name="specializzazione" value=""/></div>
    </div>
    
    <div>
        <div>Email</div>
        <div><input type="text" name="email1"  class="email required" value=""/></div>
    </div>
    
    <div>
        <input type="submit" name="add" value="Add"/>
    </div>
    
</form>
