<script>
    document.getElementById('content2').style.marginLeft = "11%"
    document.getElementById('content2').setAttribute("class", "w3-main w3-padding-64")
    //opera safari explorer edge
    document.getElementById('content2').style.paddingTop = "64px"
    document.getElementById('content2').style.paddingLeft = "64px"
</script>

<div class="w3-card-4">
    <div class="w3-container w3-theme">
        <h2>${page_title}</h2>
    </div>
    <form class="w3-container" id="form" method="post" action="user">
        <#if (messaggiocampi??)>
            <p>${messaggiocampi}</p>
        </#if>
        <p>
            <br>
            <label ><b>Nome</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="nome" value=""/>
        </p>
        <#if (messaggionome??)>
            <p>${messaggionome}</p>
        </#if>
        <p>
            <label ><b>Cognome</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="cognome" value=""/>
        </p>
        <#if (messaggiocognome??)>
            <p>${messaggicognome}</p>
        </#if>
        <p>
            <label ><b>Data di nascita</b></label>
            <input class="number required w3-input w3-pale-green" style="width:30%; max-width:50%" type="date" name="datanasc" value=""/>
        </p>
        <p>
            <label ><b>Luogo di nascita</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="luogonasc" value=""/>
        </p>
        <#if (messaggioluogo??)>
            <p>${messaggioluogo}</p>
        </#if>
        <p>
            <label ><b>Codice fiscale</b></label>
            <input class="code required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="codfisc" value=""/>
        </p>
        <#if (messaggiocodFisc??)>
            <p>${messaggiocodFisc}</p>
        </#if>
        <p>
            <label><b>Sesso</b></label>
            <br>
            <select class="w3-select w3-pale-green" style="max-width:30%" name="sesso">
                <option value="" disabled selected>Choose your option</option>
                <option value="maschio" selected="selected">Uomo</option>
                <option value="donna">Donna</option>
            </select> 
        </p>
        <p>
            <label><b>Residenza</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="residenza" value=""/>
        </p>
        <#if (messaggiocodFisc??)>
            <p>${messaggiocodFisc}</p>
        </#if>
        <p>
            <label ><b>Telefono</b></label>
            <input class="number w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="telefono" value=""/>
        </p>
        <#if (messaggiotelefono??)>
            <p>${messaggiotelefono}</p>
        </#if>
        <p>
            <label ><b>Handicap</b></label>
            <br>
            <select class="w3-select w3-pale-green" style="max-width:30%" name="handicap">
                <option value="" disabled selected>Choose your option</option>
                <option value="false" selected="selected">No</option>
                <option value="true">Si</option>
            </select> 
        </p>
        <p>
            <label ><b>Email</b></label>
            <input class="email required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="email" value=""/>
        </p>
        <#if (messaggioemail??)>
            <p>${messaggioemail}</p>
        </#if>
        <p>
            <label ><b>Corso di laurea</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="cdl" value=""/>
        </p>
        <#if (messaggiocdl??)>
            <p>${messaggiocdl}</p>
        </#if>
        <p>
            <label ><b>Laurea</b></label>
            <br/>
            <select class="w3-select w3-pale-green" style="max-width:30%" name="laurea">
                <option value="" disabled selected>Choose your option</option>
                <option value="triennale" selected="selected">Triennale</option>
                <option value="magistrale">Magistrale</option>
            </select> 
        </p>
        <p>
            <label ><b>Dottorato</b></label>
            <input class="w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="dottorato" value=""/>
        </p>
        <#if (messaggiodottorato??)>
            <p>${messaggiodottorato}</p>
        </#if>
        <p>
            <label ><b>Specializzazione</b></label>
            <input class="w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="specializzazione" value=""/>
        </p>
        <#if (messaggiospecializzazione??)>
            <p>${messaggiospecializzazione}</p>
        </#if>
        <p>
            <label ><b>Username</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="text" name="username" value=""/>
        </p>
        <#if (messaggiousername??)>
            <p>${messaggiousername}</p>
        </#if>
        <#if (usernamemessage??)>
            <p class="w3-panel w3-pale-red w3-border-red">${usernamemessage}</p>
        </#if>
        <p>
            <label ><b>Password</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="password" name="password" value=""/>
        </p>
        <p>
            <label ><b>Ripeti password</b></label>
            <input class="required w3-input w3-animate-input w3-pale-green" style="width:30%; max-width:50%" type="password" name="rpassword" value=""/>
        </p>
        <#if (passwordmessage??)>
            <p class="w3-panel w3-pale-red w3-border-red">${passwordmessage}</p>
        </#if>
        <p>
            <input class="w3-btn w3-theme" type="submit" name="add" value="Add">
        </p>
    </form>
</div>  