<h2>${page_title}</h2>

<form method="post" action="azienda">
    <div>
        <div>Username</div>
        <div><input type="text" name="username" value=""/></div>
    </div>
    
    <div>
        <div>Password</div>
        <div><input type="password" name="password" value=""/></div>
    </div>
        
    <div>
        <div>Nome</div>
        <div><input type="text" name="nome" value=""/></div>
    </div>
    
    <div>
        <div>Ragione sociale</div>
        <div><input type="text" name="ragionesociale" value=""/></div>
    </div>
    
    <div>
        <div>Indirizzo</div>
        <div><input type="text" name="indirizzo" value=""/></div>
    </div>
    
    <div>
        <div>Partita Iva</div>
        <div><input type="text" name="partitaiva" value=""/></div>
    </div>
    
    <div>
        <div>Codice fiscale</div>
        <div><input type="text" name="codicefisc" value=""/></div>
    </div>
    
    <div>
        <div>Nome Rappresentante</div>
        <div><input type="text" name="nomerappr" value=""/></div>
    </div>
    
    <div>
        <div>Cognome Rappresentante</div>
        <div><input type="text" name="cognomerappr" value=""/></div>
    </div>
    
    <div>
        <div>Nome Responsabile</div>
        <div><input type="text" name="nomeresp" value=""/></div>
    </div>
    
    <div>
        <div>Cognome Responsabile</div>
        <div><input type="text" name="cognomeresp" value=""/></div>
    </div>
    
    <div>
        <div>Telefono Responsabile</div>
        <div><input type="text" name="telefonoresp" value=""/></div>
    </div>
    
    <div>
        <div>Email Responsabile</div>
        <div><input type="text" name="emailresp" value=""/></div>
    </div>
    
    <div>
        <div>Foro</div>
        <div><input type="text" name="foro" value=""/></div>
    </div>
    
    <div>
        <input type="submit" name="add" value="Add"/>
    </div>
    
</form>
