<div class="w3-card-4" style="margin-right: 1%">
    <div class="w3-container w3-brown">
        <h2>${page_title}</h2>
    </div>
    <form class="w3-container" id="form" method="post" action="user">
        <p>
            <label class="w3-text-brown"><b>Nome</b></label>
            <input class="required w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="nome" value=""/>
        </p>
        <p>
            <label class="w3-text-brown"><b>Cognome</b></label>
            <input class="required w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="cognome" value=""/>
        </p>
        <p>
            <label class="w3-text-brown"><b>Data di nascita</b></label>
            <input class="number required w3-input w3-sand" style="width:30%; max-width:50%" type="date" name="datanasc" value=""/>
        </p>
    
        <p>
            <label class="w3-text-brown"><b>Luogo di nascita</b></label>
            <input class="required w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="luogonasc" value=""/>
        </p>
        
        <p>
            <label class="w3-text-brown"><b>Codice fiscale</b></label>
            <input class="code required w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="codfisc" value=""/>
        </p>
        
        <p>
            <label class="w3-text-brown"><b>Sesso</b></label>
            <br>
            <select class="w3-select w3-sand" style="max-width:30%" name="sesso">
                <option value="" disabled selected>Choose your option</option>
                <option value="maschio" selected="selected">Uomo</option>
                <option value="donna">Donna</option>
            </select> 
        </p>
        
        <p>
            <label class="w3-text-brown"><b>Residenza</b></label>
            <input class="required w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="residenza" value=""/>
        </p>
        
        <p>
            <label class="w3-text-brown"><b>Telefono</b></label>
            <input class="number w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="telefono" value=""/>
        </p>

        <p>
            <label class="w3-text-brown"><b>Handicap</b></label>
            <br>
            <select class="w3-select w3-sand" style="max-width:30%" name="handicap">
                <option value="" disabled selected>Choose your option</option>
                <option value="false" selected="selected">No</option>
                <option value="true">Si</option>
            </select> 
        </p>
        
        <p>
            <label class="w3-text-brown"><b>Email</b></label>
            <input class="email required w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="email" value=""/>
        </p>
        
        <p>
            <label class="w3-text-brown"><b>Corso di laurea</b></label>
            <input class="required w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="cdl" value=""/>
        </p>
        
        <p>
            <label class="w3-text-brown"><b>Laurea</b></label>
            <br>
            <select class="w3-select w3-sand" style="max-width:30%" name="laurea">
                <option value="" disabled selected>Choose your option</option>
                <option value="triennale" selected="selected">Triennale</option>
                <option value="magistrale">Magistrale</option>
            </select> 
        </p>

        <p>
            <label class="w3-text-brown"><b>Dottorato</b></label>
            <input class="w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="dottorato" value=""/>
        </p>

        <p>
            <label class="w3-text-brown"><b>Specializzazione</b></label>
            <input class="w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="specializzazione" value=""/>
        </p>

        <p>
            <label class="w3-text-brown"><b>Username</b></label>
            <input class="required w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="text" name="username" value=""/>
        </p>
        
        <p>
            <label class="w3-text-brown"><b>Password</b></label>
            <input class="required w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="password" name="password" value=""/>
        </p>
        
        <p>
            <label class="w3-text-brown"><b>Ripeti password</b></label>
            <input class="required w3-input w3-animate-input w3-sand" style="width:30%; max-width:50%" type="password" name="rpassword" value=""/>
        </p>
        
        <input class="w3-btn w3-brown" type="submit" name="add" value="Add">
    </form>
</div>  