<script>
    document.getElementById('main').style = "margin-left:210px"
    document.getElementById('content2').setAttribute("class", "w3-main w3-padding-64")
</script>
<h2>${page_title}</h2>
<div >
    <form method="post" action="search">
        <div class="w3-third">
            <p>
                <label><b>Azienda</b></label>
                <input class="w3-input w3-border w3-pale-green" style="width:80%;" type="text" name="azienda" value=""/>
            </p>
        </div>
        <div class="w3-third">
            <p>
                <label><b>Luogo</b></label>
                <input class=" w3-input w3-border w3-pale-green" style="width:80%;" type="text" name="luogo" value=""/>
            </p>
        </div>
        <div class="w3-third">
            <p>
                <label><b>Numero di ore di tirocinio</b></label>
                <input class="w3-input w3-border w3-pale-green" style="width:80%;" type="text" name="numore" value=""/>
            </p>
        </div>
        <#if (messaggionumore??)>
            <p>${messaggionumore}</p>
        </#if>
        <div class="w3-third">
            <p>
                <label><b>Numero di mesi di tirocinio</b></label>
                <input class=" w3-input w3-border w3-pale-green number" style="width:80%;" type="text" name="nummesi" value=""/>
            </p>
        </div>
        <#if (messaggionummesi??)>
            <p>${messaggionummesi}</p>
        </#if>
        <div class="w3-third">
            <p>
                <label><b>Settore</b></label>
                <input class="w3-input w3-border w3-pale-green" style="width:80%;" type="text" name="settore" value=""/>
            </p>
        </div>
        <div class="w3-third">
            <p>
                <label><b>Obiettivi</b></label>
                <input class="w3-input w3-border w3-pale-green" style="width:80%;" type="text" name="obiettivi" value=""/>
            </p>
        </div>
        <div>
            <p>
                <input class="w3-btn w3-theme" type="submit" name="search" value="Cerca"/>
            </p>
        </div>
        
        
        
    </form>   
      <table class="w3-table-all">
        <tr>
            <th>Titolo</th>
            <th>Azienda</th>
            <th>Luogo</th>
            <th>Mesi</th>
            <th>Obiettivi</th>
        </tr>  
        <#if tiro??>
        <#list tiro as t>            
                <tr>
                    <td> <a href="show?tid=${t.idTirocinio}"> ${t.titolo} </a></td>
                    <td>${t.azienda.nomeAzienda}</td>
                    <td>${t.luogo} </td>  
                    <td>${t.mesi}</td>
                    <td>${t.obiettivi}</td>
                </tr>
            
        </#list>        
        </#if>
        
        <#if tirocini??>
         <#list tirocini as t>            
                <tr>
                    <td> <a href="show?tid=${t.idTirocinio}"> ${t.titolo} </a></td>
                    <td>${t.azienda.nomeAzienda}</td>
                    <td>${t.luogo} </td>  
                    <td>${t.mesi}</td>
                    <td>${t.obiettivi}</td>
                </tr>
            
        </#list>        
        
        </#if>
        
        
    </table>
    
</div>
