<h2>${page_title}</h2>
<br/>
<p><b>Stampa questa pagina e carica il documento relativo al progetto del tuo tirocinio!</b></p>
<button onclick="printDiv('toPrint')">Print</button>

<div id="toPrint">
    <div id="printdiv">
        <img src="images/logounivaq.jpg" alt="" height="85" width="65" id="printimg">
        <h3 align='center'>UNIVERSITA' DEGLI STUDI DELL'AQUILA</h3>
        <h5 align='center'>Dipartimento di INGEGNERIA E SCIENZE DELL'INFORMAZIONE</h5>
        <h6 align="center">SEGRETERIA AMMINISTRATIVA PER LA DIDATTICA</h6>
        <p><b>(da compilare a cura dell'Azienda)</b></p>
        <br/>
        <p><b>L'Ente/Azienda</b> ${strip_slashes(azienda.nomeAzienda)}</p>
        <p>Codice Fiscale Ente/Azienda ${strip_slashes(azienda.codiceFisc)}</p>
        <br/>
        <p><b>Tirocinante:</b></p>
        <p><b>Cognome</b> ${strip_slashes(utente.cognome)} <b>Nome</b> ${strip_slashes(utente.nome)}</p>
        <br/>
        <p><b>Periodo del tirocinio:</b></p>
        <p><b>dal</b> ${strip_slashes(tirocinio.dataInizio)?string} <b>al</b> ${strip_slashes(tirocinio.dataFine)?string}</p>
        <p>Per un totale di ${strip_slashes(tirocinio.numOre)} ore.</p>
        <br/>
        <p><b>Sede di svolgimento del tirocinio</b> ${strip_slashes(tirocinio.luogo)}</p>
        <br/>
        <p><b>Descrizione Attivit&#225; svolta</b></p>
        <p>${tirocinio.descrizione}</p>
        <br/>
        <p><b>Si attesta che il/la Sig. ${strip_slashes(utente.cognome)} ${strip_slashes(utente.nome)}</b></p>
        <p>Ha effettuato i compiti affidatigli con il seguente risultato:</p>
        <p>${tirocinio.risultato}</p>
        <br/>
        <p><b>Data .........................</b></p>
        <p><b>Firma del tutor aziendale</b></p>
        <p><b>.............................................</b></p>
    </div>
</div>