<h2>${page_title}</h2>

<div class="w3-card-4"  style="max-width: 55%;">
    <header class="w3-container w3-theme">
        <h3>Scheda tirocinio </h3>
    </header>
    <div class="w3-container">
        <p>Titolo: ${strip_slashes(tirocinio.titolo)}</p>
        <p>Luogo: ${strip_slashes(tirocinio.luogo)}</p>
        <p>Orario: ${strip_slashes(tirocinio.orario)}</p>
        <p>Numero di mesi: ${tirocinio.mesi}</p>
        <p>Numero di ore: ${tirocinio.numOre}</p>
        <p>Obiettivi: ${strip_slashes(tirocinio.obiettivi)}</p>
        <p>Facilitazioni: ${strip_slashes(tirocinio.facilitazioni)}</p>
        <p>Settore: ${strip_slashes(tirocinio.settore)}</p>
        <p>Status: ${tirocinio.status?string}</p>
    </div>
</div>
<#if (Session)??>
    <#if Session.getAttribute('type')=="stud">
        <#if azione=="accepted">
            <div class="w3-card-4"  style="max-width: 55%;">
                <header class="w3-container w3-theme">
                    <h3>Dettagli tirocinio </h3>
                </header>
                <div class="w3-container">
                    <p>Nome del Tutore: ${strip_slashes(richiesta.nomeTutor)}</p>
                    <p>Cognome del Tutore: ${strip_slashes(richiesta.cognomeTutor)}</p>
                    <p>Email del Tutore: ${strip_slashes(richiesta.emailTutor)}</p>
                    <p>Qua ci va il resoconto</p>
                    <p>N&deg; CFU: ${strip_slashes(richiesta.cfu)}</p>
                </div>
            <br/>
            <#if (progetto)>
                <p><a  class="w3-button w3-block w3-theme" href="showprogetto?tid=${tirocinio.idTirocinio}"> Scarica Progetto </a></p>
            </#if>
            <#if (upload)>
                <p><a  class="w3-button w3-block w3-theme" href="uploadprogetto?tid=${tirocinio.idTirocinio}"> Upload Progetto </a></p>
            <#else>
                <p><a  class="w3-button w3-block w3-theme" href="downloadprogetto?tid=${tirocinio.idTirocinio}"> Download Progetto Firmato</a></p>
            </#if>
            <#if (resoconto)>
                <p><a  class="w3-button w3-block w3-theme" href="showresoconto?tid=${tirocinio.idTirocinio}"> Scarica Resoconto Tirocinio </a></p>
            </#if>
            </div>
            <#if (valuta)>
                <#if (tirocinio.statusVoto)>
                    <p>Grazie per aver votato questo tirocinio!</p>
                <#else>
                    <h3>VALUTA QUI L'AZIENDA</h3>
                    <form method="post" action="vote">
                        <input type="hidden" name="tid" value="${tirocinio.idTirocinio}" />
                        <input type="hidden" name="aid" value="${tirocinio.idAzienda}" />

                        <select name="voto">
                            <option value="5">1</option>
                            <option value="5">2</option>
                            <option value="5">3</option>
                            <option value="5">4</option>
                            <option value="5" selected>5</option>
                        </select>
                        <input type="submit" name="vote" value="Vote"/>
                    </form>
                </#if>
            </#if>
        </#if>
        <#if azione=="pending">   
        <div class="w3-card-4 profile" >
            <header class="w3-container w3-theme">
                <h3>Questa &egrave; la tua richiesta di applicazione: </h3>
            </header>
            <div class="w3-container">          
                <div class="w3-card-4"  style="max-width: 55%;">
                    <header class="w3-container w3-theme">
                        <h3>Dettagli tirocinio </h3>
                    </header>
                    <div class="w3-container">
                       <p>Nome del Tutore: ${strip_slashes(richiesta.nomeTutor)}</p>
                       <p>Cognome del Tutore: ${strip_slashes(richiesta.cognomeTutor)}</p>
                       <p>Email del Tutore: ${strip_slashes(richiesta.emailTutor)}</p>
                       <p>N&deg; CFU: ${strip_slashes(richiesta.cfu)}</p>
                       <p>Status: ${strip_slashes(richiesta.status)}</p>
                    </div>
                </div>     
                <div class="w3-card-4"  style="max-width: 55%;">
                    <header class="w3-container w3-theme">
                        <h3>Dettagli tutore </h3>
                    </header>
                    <div class="w3-container">
                        <p>Nome del Tutore: ${strip_slashes(richiesta.nomeTutor)}</p>
                        <p>Cognome del Tutore: ${strip_slashes(richiesta.cognomeTutor)}</p>
                        <p>Email del Tutore: ${strip_slashes(richiesta.emailTutor)}</p>
                        <p>Qua ci va il contratto</p>
                        <p>Qua ci va il resoconto</p>
                        <p>N&deg; CFU: ${strip_slashes(richiesta.cfu)}</p>
                    </div>
                </div>         
            </div>            
        </div>
        </#if>
        <#if azione="applicati">
            <p>Puoi ancora candidarti per questo tirocinio!</p>
            <p><a href="richiesta?tid=${tirocinio.idTirocinio}"> Candidati qui! </a></p>
        </#if>
        <#if azione=="anonymous">
            <#if (status)??>
            <p>La richiesta di tirocinio è scaduta o è stata cancellata, non puoi più candidarti!</p>
            </#if>
        </#if>
    <#else>
        <#if azione=="accepted">
            <div class="w3-card-4"  style="max-width: 55%;">
                <header class="w3-container w3-theme">
                    <h3>Dettagli tutore </h3>
                </header>
                <div class="w3-container">
                    <p>Nome del Tutore: ${strip_slashes(richiesta.nomeTutor)}</p>
                    <p>Cognome del Tutore: ${strip_slashes(richiesta.cognomeTutor)}</p>
                    <p>Email del Tutore: ${strip_slashes(richiesta.emailTutor)}</p>
                    <p>Qua ci va il contratto</p>
                    <p>Qua ci va il resoconto</p>
                    <p>N&deg; CFU: ${strip_slashes(richiesta.cfu)}</p>
                </div>
                <#if (progetto)>
                    <p><a  class="w3-button w3-block w3-theme" href="showprogetto?tid=${tirocinio.idTirocinio}"> Scarica Progetto </a></p>
                </#if>
                <#if (upload)>
                    <p><a  class="w3-button w3-block w3-theme" href="uploadprogetto?tid=${tirocinio.idTirocinio}"> Upload Progetto </a></p>
                <#else>
                    <p><a  class="w3-button w3-block w3-theme" href="downloadprogetto?tid=${tirocinio.idTirocinio}"> Download Progetto Firmato</a></p>
                </#if>
            </div>
        </#if>
        <#if azione=="pending">
        <br>
            <p>
                <a class="w3-button w3-theme" href="panel?tid=${tirocinio.idTirocinio}"> 
                    Visualizza le candidature 
                </a>
            </p>     
        </#if>
        <#if azione=="anonymous">
            <#if (status)??>
            <p>La richiesta di tirocinio è scaduta!</p>
            </#if>
        </#if>
    </#if>
<#else>
    <#if (status)??>
        <p>La richiesta di tirocinio è scaduta!</p>
    </#if>
    <p>Registrati come <a href="azienda">azienda</a> o come <a href="user?tid=${tirocinio.idTirocinio}">studente</a> oppure <a href="login?tid=${tirocinio.idTirocinio}">loggati</a> per accedere ad altre funzionalit&agrave;!</p>
</#if>
<br/>