<h2>${page_title}</h2>
<#if (Session??)>
    <#if Session.getAttribute('type')=="admin">
        <h3 class="w3-theme profile">I Migliori Tutori</h3>
        <#if (best_tutori)??>
            <div class="w3-responsive">
                <table class="w3-table-all">
                    <tr class="w3-pale-blue">
                        <th><b>Nome</b></th>
                        <th><b>Cognome</b></th>
                        <th><b>Data di Nascita</b></th> 
                        <th><b>Numero di Tirocini</b></th>
                        <th><b>Email Tutore</b></th>
                    </tr>
                    <#list best_tutori as tutore>
                        <tr>
                            <#if (tutore.nome)??>
                                <td>${strip_slashes(tutore.nome)}</td> 
                            </#if>
                                <td>${strip_slashes(tutore.cognome)}</td>
                            <#if (tutore.dataNasc)??>
                                <td>${tutore.dataNasc}</td>
                            <#else>
                                <td> N.D </td>
                            </#if>
                            <#if (tutore.numTirocini)!=0>
                                <td>${tutore.numTirocini}</td>
                            <#else>
                                <td> N.D.</td>
                            </#if>
                            <#if (tutore.emailTutore)?has_content>
                                <td>${strip_slashes(tutore.emailTutore)}</td>
                            <#else>
                                <td> N.D </td>
                            </#if>
                        </tr>
                    </#list>
                </table>
            </div>
        <#else>
            <p>Non ci sono tutori iscritti!</p>
        </#if>
        <h3 class="w3-theme profile">Le Migliori Aziende</h3>
        <#if (best_aziende)??>
            <div class="w3-responsive">
                <table class="w3-table-all">
                    <tr class="w3-pale-blue">
                        <th><b>Nome</b></th>
                        <th><b>Ragione Sociale</b></th>
                        <th><b>Partita IVA</b></th> 
                        <th><b>Numero di Tirocini</b></th>
                        <th><b>Valutazione</b></th>
                    </tr>
                    <#list best_aziende as azienda>
                        <tr>
                            <td>${strip_slashes(azienda.nomeAzienda)}</td> 
                            <td>${strip_slashes(azienda.ragioneSociale)}</td>
                            <td>${strip_slashes(azienda.partitaIva)}</td> 
                            <td>${azienda.numeroTirocini}</td>
                            <td>${azienda.valutazione}</td>
                        </tr>
                    </#list>
                </table>
            </div>
        <#else>
            <p>Non ci sono aziende iscritte!</p>
        </#if>    
        <h3 class="w3-theme profile">Le Aziende con pi&ugrave; Tirocini</h3>
        <#if (most_stages)??>
            <div class="w3-responsive">
                <table class="w3-table-all">
                    <tr class="w3-pale-blue">
                        <th><b>Nome</b></th>
                        <th><b>Ragione Sociale</b></th>
                        <th><b>Partita IVA</b></th> 
                        <th><b>Numero di Tirocini</b></th>
                        <th><b>Valutazione</b></th>
                    </tr>
                    <#list most_stages as az>
                        <tr>
                            <td>${strip_slashes(az.nomeAzienda)}</td> 
                            <td>${strip_slashes(az.ragioneSociale)}</td>
                            <td>${strip_slashes(az.partitaIva)}</td> 
                            <td>${az.numeroTirocini}</td>
                            <td>${az.valutazione}</td>
                        </tr>
                    </#list>
                </table>
            </div>
        <#else>
            <p>Non ci sono aziende iscritte!</p>
        </#if>       
    </#if>
</#if>