<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>uploads.directory</param-name>
        <!-- Tomcat must have write permissions on this folder -->
        <param-value>d:/Java/TomcatWork</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline2.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Internship</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    <servlet>
        <servlet-name>InsertUser</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.InsertUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAzienda</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.InsertAzienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTirocinio</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.InsertTirocinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTutore</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.InsertTutore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRichiesta</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.InsertRichiesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modify</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Modify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostraAzienda</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.MostraAzienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Applications</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Applications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyPanel</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.CompanyPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetRichiesta</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.SetRichiesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaAziende</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.ListaAziende</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stats</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Stats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCompany</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.ManageCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFaq</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.ServletFaq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDates</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.SetDates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Vote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contatti</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.Contatti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateConvention</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.GenerateConvention</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowConvenzione</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.ShowConvenzione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadConvenzione</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.UploadConvenzione</servlet-class>
        <multipart-config>
            <!--
            <location>/tmp</location> temporary files location (DEF: "") -->
            <max-file-size>20848820</max-file-size>
            <!-- max size of accepted uploadd (DEF: unlimited!) -->
            <max-request-size>418018841</max-request-size>
            <!-- max size of multipart requests (may contain more files or data) (DEF: ulimited!) -->
            <!-- <file-size-threshold>1048576</file-size-threshold> max size of files to hold in memory (without writing to temporary disk file) (DEF: 0) -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>DownloadConvenzione</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.DownloadConvenzione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProgetto</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.ShowProgetto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProgetto</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.UploadProgetto</servlet-class>
        <multipart-config>
            <!--
            <location>/tmp</location> temporary files location (DEF: "") -->
            <max-file-size>20848820</max-file-size>
            <!-- max size of accepted uploadd (DEF: unlimited!) -->
            <max-request-size>418018841</max-request-size>
            <!-- max size of multipart requests (may contain more files or data) (DEF: ulimited!) -->
            <!-- <file-size-threshold>1048576</file-size-threshold> max size of files to hold in memory (without writing to temporary disk file) (DEF: 0) -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>DownloadProgetto</servlet-name>
        <servlet-class>org.univaq.tirocinio.controller.DownloadProgetto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUser</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAzienda</servlet-name>
        <url-pattern>/azienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTirocinio</servlet-name>
        <url-pattern>/tirocinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTutore</servlet-name>
        <url-pattern>/tutore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRichiesta</servlet-name>
        <url-pattern>/richiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modify</servlet-name>
        <url-pattern>/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostraAzienda</servlet-name>
        <url-pattern>/mostraaz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Applications</servlet-name>
        <url-pattern>/applications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyPanel</servlet-name>
        <url-pattern>/panel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetRichiesta</servlet-name>
        <url-pattern>/setric</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaAziende</servlet-name>
        <url-pattern>/listaaziende</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stats</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCompany</servlet-name>
        <url-pattern>/managecompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFaq</servlet-name>
        <url-pattern>/faq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDates</servlet-name>
        <url-pattern>/setdates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contatti</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateConvention</servlet-name>
        <url-pattern>/generateconvention</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowConvenzione</servlet-name>
        <url-pattern>/showconvenzione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadConvenzione</servlet-name>
        <url-pattern>/uploadconvenzione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadConvenzione</servlet-name>
        <url-pattern>/downloadconvenzione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProgetto</servlet-name>
        <url-pattern>/showprogetto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProgetto</servlet-name>
        <url-pattern>/uploadprogetto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadProgetto</servlet-name>
        <url-pattern>/downloadprogetto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/internship</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
