/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-lug-2018, 16.18.06
    Author     : Rob
*/


<<<<<<< HEAD
=======



html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
}
>>>>>>> dbc0d32f1b0cd786a259d8c383901154a1bde8c7



/* OUTLINE */



#sidebar{
    display:none;
}

#mySidebar1{
    width:15%;
}

#myOverlay{
     cursor:pointer;
}

#logo{
    width: 100px; 
    height: 36px;
}

#sessionNav{
     width:350px;
}

#noSessionNav{
     width:750px;
}

#sessionMain{
    margin-left:210px;
}

#content, #content2{
     margin-right: 1%; 
     margin-left: 1%;
}

/* HOME ANONIMO*/

#bgimg{
    padding:48px;
    background-position: center;
    background-size: cover;
    background-image: url('../images/handshake1.jpg');
    min-height: 100%;
}

#homebutton{
    margin-top: 50pt;
}

#button1{
    width:50%;
    float:left;
    display:none;
}

#button2{
    width:50%;
    float:right;
    display:none;
}

#log_stud{
    display: block;
}

#nameStud, #pwdStud, #nameAz, #pwdAz{
    width:60%;
}

#labelLogin, #ulogin{
    display:none;
}

#about{
     margin-right: 1%; margin-left: 1%
}
