/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-giu-2018, 15.08.10
    Author     : Rob
*/

.alert {
    
    color: #FAFAFA;
    background-color: #FE2E2E;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
   
}
