/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-giu-2018, 15.41.51
    Author     : Rob
*/

.header {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #3399ff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 60px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 36px;
  border-radius: 5px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #2eb82e;
  color: black;
}

.header a.active {
  background-color: #2eb82e;
  color: white;
}

.header-right {
  float: right;
}

.header .icon {
	display: none;
}

@media screen and (max-width: 600px) {
  
  .header a.icon {
    float: right;
    display: block;
  }
  .header img{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .header.responsive {position: relative;}
  .header.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}