<h2>Registrazione Studente</h2>

<form method="post" action="user">
    <div>
        <div>Nome</div>
        <div><input type="text" name="nome" value=""/></div>
    </div>
    
    <div>
        <div>Cognome</div>
        <div><input type="text" name="cognome" value=""/></div>
    </div>
    
    <div>
        <div>Username</div>
        <div><input type="text" name="username" value=""/></div>
    </div>
    
    <div>
        <div>Password</div>
        <div><input type="text" name="password" value=""/></div>
    </div>
    
    <div>
        <div>Data di nascita</div>
        <div><input type="text" name="datanasc" value=""/></div>
    </div>
    
    <div>
        <div>Luogo di nascita</div>
        <div><input type="text" name="luogonasc" value=""/></div>
    </div>
    
    <div>
        <div>Residenza</div>
        <div><input type="text" name="residenza" value=""/></div>
    </div>
    
    <div>
        <div>Codice fiscale</div>
        <div><input type="text" name="codfisc" value=""/></div>
    </div>
    
    <div>
        <div>Telefono</div>
        <div><input type="text" name="telefono" value=""/></div>
    </div>
    
    <div>
        <div>Corso di laurea</div>
        <div><input type="text" name="cdl" value=""/></div>
    </div>
    
    <div>
        <div>Handicap</div>
        <div>
            <select name="handicap">
                <option value="false" selected="selected">No</option>
                <option value="true">Si</option>
            </select>
        </div>
    </div>
    
    <div>
        <div>Laurea</div>
        <div>
            <select name="laurea">
                <option value="triennale" selected="selected">Triennale</option>
                <option value="magistrale">Magistrale</option>
            </select>
        </div>
    </div>
    
    <div>
        <div>Dottorato</div>
        <div><input type="text" name="dottorato" value=""/></div>
    </div>
    
    <div>
        <div>Specializzazione</div>
        <div><input type="text" name="specializzazione" value=""/></div>
    </div>
    
    <div>
        <input type="submit" name="add" value="Add"/>
    </div>
    
</form>
